---
import { getLangFromUrl, useTranslations } from '@i18n/utils'
import { Image } from 'astro:assets'
import Title from '@components/title/title.astro'
import BackgorundDecoration from '@assets/background-decoration.png'
import SuitCase from '@assets/case.png'
import type { Props, Work } from './types'
import './workExperience.scss'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const { workExperiences }: Props = Astro.props
---

<section class="workExperience">
  <div class="container">
    <Title
      align="left"
      top={t('about.workExperience.titleTop')}
      bottom={t('about.workExperience.titleBottom')}
    />
    <div class="content">
      <div class="worksList">
        {
          (workExperiences as Work[]).reverse().map((work) => {
            const {
              attributes: {
                name,
                jobType,
                startDate,
                endDate,
                cover: {
                  data: {
                    attributes: { url, name: altCoverText }
                  }
                },
                roles
              }
            } = work

            return (
              <div class="work">
                <img class="companyLogo" src={url} alt={altCoverText} />
                <div class="workContent">
                  <div class="heading">
                    <span class="workTitle">{name} </span>
                    <span class="workType"> ({jobType})</span>
                  </div>
                  <span class="timePeriod">
                    {startDate} - {endDate}
                  </span>
                  {roles.length !== 0 && (
                    <div class="roles">
                      <span class="roleTitle">Roles:</span>
                      <ul>
                        {roles.map((role) => (
                          <li>{role.name}</li>
                        ))}
                      </ul>
                    </div>
                  )}
                </div>
              </div>
            )
          })
        }
      </div>
      <!-- <WorksList worksList={worksList} /> -->
      <div class="decoration">
        <Image
          class="backgroundDecoration"
          src={BackgorundDecoration}
          alt="geometric figures decoration"
        />
        <Image class="suitCase" src={SuitCase} alt="suit case illustration" />
      </div>
    </div>
  </div>
</section>
