---
import type { Props } from './types'
import './title.scss'

const {
  customClass,
  size = 'default',
  align = 'center',
  top,
  bottom,
  mainTitle = false,
  ...rest
} = Astro.props
---

{
  mainTitle ? (
    <h1
      class:list={[
        'title',
        {
          [`title--${size}`]: size,
          [`title--${align}`]: align,
          [`${customClass}`]: customClass
        }
      ]}
      {...rest}
    >
      <span class="top">{top}</span>
      <span class="bottom">{bottom}</span>
    </h1>
  ) : (
    <h2
      class:list={[
        'title',
        {
          [`title--${size}`]: size,
          [`title--${align}`]: align,
          [`${customClass}`]: customClass
        }
      ]}
      {...rest}
    >
      <span class="top">{top}</span>
      <span class="bottom">{bottom}</span>
    </h2>
  )
}
