---
import type { Props } from './types'
import './title.scss'

const { customClass, size = 'default', align='center', top, bottom, ...rest } = Astro.props
---

<div
  class:list={[
    'title',
    {
      [`title--${size}`]: size,
      [`title--${align}`]: align,
      [`${customClass}`]: customClass
    }
  ]}
  {...rest}
>
  <h2>
    <span class="top">{top}</span>
    <span class="bottom">{bottom}</span>
  </h2>
</div>
